<h2>Add New Post</h2>
<p>
	<form action="/new" method="POST" role="form">
		<textarea name="content" class="form-control" rows="6" placeholder="Type post text here"></textarea>
		<br />
	 	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>